<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newtouch.mapper.ContentHeadMapper">
	<resultMap id="BaseResultMap"
		type="com.newtouch.pojo.ContentHead">
		<id column="hashKey" jdbcType="CHAR" property="hashKey" />
		<result column="yqqf" jdbcType="CHAR" property="yqqf" />
		<result column="yzlb" jdbcType="CHAR" property="yzlb" />
		<result column="czqf" jdbcType="INTEGER" property="czqf" />
		<result column="bglx" jdbcType="CHAR" property="bglx" />
		<result column="jyrq" jdbcType="CHAR" property="jyrq" />
		<result column="bgdh" jdbcType="CHAR" property="bgdh" />
	</resultMap>
	<select id="selectContentHead"
		parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		(
		CASE
		WHEN departmentname = '上海市第一妇婴保健院西院'
		THEN 0
		WHEN departmentname = '上海市第一妇婴保健院南院'
		THEN 1
		WHEN departmentname = '上海市第一妇婴保健院东院'
		THEN 2
		END
		) yqqf,
		s.labdate jyrq,
		s.labstring bgdh
		from sample s
		LEFT JOIN employee e on s.doc = e.employeeid
		LEFT JOIN department d on e.departmentid = d.departmentid
		WHERE s.sampleid = #{sampleid};
	</select>
</mapper>