<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.newtouch.mapper.NewtouchtsscresultMapper" >
  <resultMap id="BaseResultMap" type="com.biosan.pojo.Newtouchtsscresult" >
    <id column="tsscresultid" property="tsscresultid" jdbcType="INTEGER" />
    <result column="sampleid" property="sampleid" jdbcType="INTEGER" />
    <result column="tsscresult" property="tsscresult" jdbcType="INTEGER" />
    <result column="pdfdate" property="pdfdate" jdbcType="TIMESTAMP" />
    <result column="sendattime" property="sendattime" jdbcType="TIMESTAMP" />
  </resultMap>
  <!-- 只发送本院的报告，需添加关联 -->
	<select id="selectNewSampleid"
		parameterType="java.lang.Integer" resultMap="BaseResultMap">
		SELECT
		n.tsscresultid,
		s.sampleid,
		s.pdfdate,
		n.tsscresult,
		n.sendattime
		FROM sample s
		LEFT JOIN newtouchtsscresult n on s.sampleid = n.sampleid
		LEFT JOIN employee e on s.doc = e.employeeid
		LEFT JOIN department d on e.departmentid = d.departmentid
		WHERE DATEDIFF(s.pdfdate,NOW())>-#{days}
		AND (s.pdfdate > n.pdfdate or n.pdfdate IS NULL)
		AND departmentname in ('上海市第一妇婴保健院东院', '上海市第一妇婴保健院南院', '上海市第一妇婴保健院西院')
	</select>
	<insert id="insert" parameterType="com.biosan.pojo.Newtouchtsscresult" >
	   insert into newtouchtsscresult (tsscresultid, sampleid,  
	     tsscresult, pdfdate, sendattime
	     )
	   values (#{tsscresultid,jdbcType=INTEGER}, #{sampleid,jdbcType=INTEGER}, 
	     #{tsscresult,jdbcType=INTEGER}, #{pdfdate,jdbcType=TIMESTAMP}, #{sendattime,jdbcType=TIMESTAMP}
	     )
	</insert>
	<update id="updateByBean" parameterType="com.biosan.pojo.Newtouchtsscresult" >
    update newtouchtsscresult
    <set >
      <if test="sampleid != null" >
        sampleid = #{sampleid,jdbcType=INTEGER},
      </if>
      <if test="tsscresult != null" >
        tsscresult = #{tsscresult,jdbcType=INTEGER},
      </if>
      <if test="pdfdate != null" >
        pdfdate = #{pdfdate,jdbcType=TIMESTAMP},
      </if>
      <if test="sendattime != null" >
        sendattime = #{sendattime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where sampleid = #{sampleid,jdbcType=INTEGER}
	</update>
	<select id="selectErr"
		parameterType="java.lang.Integer" resultMap="BaseResultMap">
		SELECT
		n.tsscresultid,
		n.sampleid,
		n.tsscresult,
		n.pdfdate,
		n.sendattime
		FROM newtouchtsscresult n
		WHERE n.tsscresult > 1
	</select>
	<select id="selectBySampleid"
		parameterType="java.lang.Integer" resultMap="BaseResultMap">
		SELECT
		n.tsscresultid,
		s.sampleid,
		s.pdfdate,
		n.tsscresult,
		n.sendattime,
		FROM sample s
		LEFT JOIN newtouchtsscresult n on s.sampleid = n.sampleid
		WHERE s.sampleid = #{sampleid}
	</select>
</mapper>