<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newtouch.mapper.SampleMapper">
  <resultMap id="BaseResultMap" type="com.biosan.pojo.Sample" >
    <id column="sampleid" property="sampleid" jdbcType="INTEGER" />
    <result column="patientid" property="patientid" jdbcType="INTEGER" />
    <result column="samplestring" property="samplestring" jdbcType="CHAR" />
    <result column="sampletype" property="sampletype" jdbcType="INTEGER" />
    <result column="reasontype" property="reasontype" jdbcType="INTEGER" />
    <result column="collectdate" property="collectdate" jdbcType="DATE" />
    <result column="labstring" property="labstring" jdbcType="CHAR" />
    <result column="barcode" property="barcode" jdbcType="CHAR" />
    <result column="doc" property="doc" jdbcType="INTEGER" />
    <result column="labid" property="labid" jdbcType="INTEGER" />
    <result column="planid" property="planid" jdbcType="INTEGER" />
    <result column="ismid" property="ismid" jdbcType="INTEGER" />
    <result column="addtime" property="addtime" jdbcType="TIMESTAMP" />
    <result column="addoperator" property="addoperator" jdbcType="INTEGER" />
    <result column="operattime" property="operattime" jdbcType="TIMESTAMP" />
    <result column="operator" property="operator" jdbcType="INTEGER" />
    <result column="isvalidate" property="isvalidate" jdbcType="INTEGER" />
    <result column="isyuan" property="isyuan" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="gsampleid" property="gsampleid" jdbcType="INTEGER" />
    <result column="isunit" property="isunit" jdbcType="INTEGER" />
    <result column="isfee" property="isfee" jdbcType="INTEGER" />
    <result column="isscreen" property="isscreen" jdbcType="INTEGER" />
    <result column="screenreason" property="screenreason" jdbcType="VARCHAR" />
    <result column="fetusesnum" property="fetusesnum" jdbcType="INTEGER" />
    <result column="issame" property="issame" jdbcType="INTEGER" />
    <result column="preg_age" property="pregAge" jdbcType="REAL" />
    <result column="ass_age" property="assAge" jdbcType="REAL" />
    <result column="issmoke" property="issmoke" jdbcType="INTEGER" />
    <result column="isddm" property="isddm" jdbcType="INTEGER" />
    <result column="oldcase" property="oldcase" jdbcType="VARCHAR" />
    <result column="nb" property="nb" jdbcType="INTEGER" />
    <result column="nb_twin" property="nbTwin" jdbcType="INTEGER" />
    <result column="fl" property="fl" jdbcType="REAL" />
    <result column="fl_twin" property="flTwin" jdbcType="REAL" />
    <result column="ac" property="ac" jdbcType="REAL" />
    <result column="ac_twin" property="acTwin" jdbcType="REAL" />
    <result column="isnt" property="isnt" jdbcType="INTEGER" />
    <result column="nt" property="nt" jdbcType="REAL" />
    <result column="nt1" property="nt1" jdbcType="REAL" />
    <result column="nt2" property="nt2" jdbcType="REAL" />
    <result column="nt3" property="nt3" jdbcType="REAL" />
    <result column="nt_twin" property="ntTwin" jdbcType="REAL" />
    <result column="nt1_twin" property="nt1Twin" jdbcType="REAL" />
    <result column="nt2_twin" property="nt2Twin" jdbcType="REAL" />
    <result column="nt3_twin" property="nt3Twin" jdbcType="REAL" />
    <result column="weight" property="weight" jdbcType="REAL" />
    <result column="lmpcycle_day" property="lmpcycleDay" jdbcType="INTEGER" />
    <result column="lmpcycle_week" property="lmpcycleWeek" jdbcType="INTEGER" />
    <result column="boperdate" property="boperdate" jdbcType="DATE" />
    <result column="bpd" property="bpd" jdbcType="REAL" />
    <result column="bpd_twin" property="bpdTwin" jdbcType="REAL" />
    <result column="bpdcycle_day" property="bpdcycleDay" jdbcType="INTEGER" />
    <result column="bpdcycle_week" property="bpdcycleWeek" jdbcType="INTEGER" />
    <result column="crl" property="crl" jdbcType="REAL" />
    <result column="crl_twin" property="crlTwin" jdbcType="REAL" />
    <result column="crlcycle_day" property="crlcycleDay" jdbcType="INTEGER" />
    <result column="crlcycle_week" property="crlcycleWeek" jdbcType="INTEGER" />
    <result column="bcycle_day" property="bcycleDay" jdbcType="INTEGER" />
    <result column="bcycle_week" property="bcycleWeek" jdbcType="INTEGER" />
    <result column="assistantway" property="assistantway" jdbcType="INTEGER" />
    <result column="donorbirthday" property="donorbirthday" jdbcType="DATE" />
    <result column="plandate" property="plandate" jdbcType="DATE" />
    <result column="distilldate" property="distilldate" jdbcType="DATE" />
    <result column="distillage" property="distillage" jdbcType="REAL" />
    <result column="assistant_week" property="assistantWeek" jdbcType="INTEGER" />
    <result column="assistant_day" property="assistantDay" jdbcType="INTEGER" />
    <result column="cycletype" property="cycletype" jdbcType="CHAR" />
    <result column="cycle_day" property="cycleDay" jdbcType="INTEGER" />
    <result column="cycle_week" property="cycleWeek" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="laboperator" property="laboperator" jdbcType="INTEGER" />
    <result column="labdate" property="labdate" jdbcType="DATE" />
    <result column="intypeid" property="intypeid" jdbcType="INTEGER" />
    <result column="labno" property="labno" jdbcType="INTEGER" />
    <result column="target_afp" property="targetAfp" jdbcType="REAL" />
    <result column="target_ue3" property="targetUe3" jdbcType="REAL" />
    <result column="target_hcgbm" property="targetHcgbm" jdbcType="REAL" />
    <result column="target_hcgb" property="targetHcgb" jdbcType="REAL" />
    <result column="target_pappa" property="targetPappa" jdbcType="REAL" />
    <result column="result_afpmom" property="resultAfpmom" jdbcType="CHAR" />
    <result column="result_ue3mom" property="resultUe3mom" jdbcType="CHAR" />
    <result column="result_hcgbmmom" property="resultHcgbmmom" jdbcType="CHAR" />
    <result column="result_hcgbmom" property="resultHcgbmom" jdbcType="CHAR" />
    <result column="result_pappamom" property="resultPappamom" jdbcType="CHAR" />
    <result column="target_afpmom" property="targetAfpmom" jdbcType="REAL" />
    <result column="target_afpmom_max" property="targetAfpmomMax" jdbcType="REAL" />
    <result column="target_afpmom_min" property="targetAfpmomMin" jdbcType="REAL" />
    <result column="target_ue3mom" property="targetUe3mom" jdbcType="REAL" />
    <result column="target_ue3mom_max" property="targetUe3momMax" jdbcType="REAL" />
    <result column="target_ue3mom_min" property="targetUe3momMin" jdbcType="REAL" />
    <result column="target_hcgbmmom" property="targetHcgbmmom" jdbcType="REAL" />
    <result column="target_hcgbmmom_max" property="targetHcgbmmomMax" jdbcType="REAL" />
    <result column="target_hcgbmmom_min" property="targetHcgbmmomMin" jdbcType="REAL" />
    <result column="target_hcgbmom" property="targetHcgbmom" jdbcType="REAL" />
    <result column="target_hcgbmom_max" property="targetHcgbmomMax" jdbcType="REAL" />
    <result column="target_hcgbmom_min" property="targetHcgbmomMin" jdbcType="REAL" />
    <result column="target_pappamom" property="targetPappamom" jdbcType="REAL" />
    <result column="target_pappamom_max" property="targetPappamomMax" jdbcType="REAL" />
    <result column="target_pappamom_min" property="targetPappamomMin" jdbcType="REAL" />
    <result column="ntmom" property="ntmom" jdbcType="REAL" />
    <result column="ntmom_twin" property="ntmomTwin" jdbcType="REAL" />
    <result column="analysis_t21" property="analysisT21" jdbcType="INTEGER" />
    <result column="analysis_t21_twin" property="analysisT21Twin" jdbcType="INTEGER" />
    <result column="analysis_t21_cutoff" property="analysisT21Cutoff" jdbcType="INTEGER" />
    <result column="analysis_t18" property="analysisT18" jdbcType="INTEGER" />
    <result column="analysis_t18_twin" property="analysisT18Twin" jdbcType="INTEGER" />
    <result column="analysis_t18_cutoff" property="analysisT18Cutoff" jdbcType="INTEGER" />
    <result column="analysis_ntd" property="analysisNtd" jdbcType="CHAR" />
    <result column="analysis_ntd_cutoff" property="analysisNtdCutoff" jdbcType="REAL" />
    <result column="result_t21" property="resultT21" jdbcType="CHAR" />
    <result column="result_t21_twin" property="resultT21Twin" jdbcType="CHAR" />
    <result column="result_t18" property="resultT18" jdbcType="CHAR" />
    <result column="result_t18_twin" property="resultT18Twin" jdbcType="CHAR" />
    <result column="result_ntd" property="resultNtd" jdbcType="CHAR" />
    <result column="age_t21" property="ageT21" jdbcType="INTEGER" />
    <result column="age_t18" property="ageT18" jdbcType="INTEGER" />
    <result column="result" property="result" jdbcType="CHAR" />
    <result column="counttype" property="counttype" jdbcType="CHAR" />
    <result column="result_2t" property="result2t" jdbcType="CHAR" />
    <result column="result_1t" property="result1t" jdbcType="CHAR" />
    <result column="result_lf" property="resultLf" jdbcType="CHAR" />
    <result column="result_lu" property="resultLu" jdbcType="CHAR" />
    <result column="submitdate" property="submitdate" jdbcType="DATE" />
    <result column="senddate" property="senddate" jdbcType="DATE" />
    <result column="acceptdate" property="acceptdate" jdbcType="DATE" />
    <result column="isverify" property="isverify" jdbcType="INTEGER" />
    <result column="verynote" property="verynote" jdbcType="CHAR" />
    <result column="pdfchecktor" property="pdfchecktor" jdbcType="INTEGER" />
    <result column="pdfdate" property="pdfdate" jdbcType="DATE" />
    <result column="reporttype" property="reporttype" jdbcType="INTEGER" />
    <result column="isnotice" property="isnotice" jdbcType="INTEGER" />
    <result column="noticestate" property="noticestate" jdbcType="INTEGER" />
    <result column="judgeid" property="judgeid" jdbcType="INTEGER" />
    <result column="isfile" property="isfile" jdbcType="INTEGER" />
    <result column="printcount" property="printcount" jdbcType="INTEGER" />
    <result column="infotype" property="infotype" jdbcType="INTEGER" />
    <result column="reserved1" property="reserved1" jdbcType="CHAR" />
    <result column="reserved2" property="reserved2" jdbcType="CHAR" />
    <result column="reserved3" property="reserved3" jdbcType="CHAR" />
    <result column="newlabno" property="newlabno" jdbcType="INTEGER" />
    <result column="crldate" property="crldate" jdbcType="DATE" />
    <result column="bpddate" property="bpddate" jdbcType="DATE" />
    <result column="bdate" property="bdate" jdbcType="DATE" />
    <result column="hc" property="hc" jdbcType="REAL" />
    <result column="hc_twin" property="hcTwin" jdbcType="REAL" />
    <result column="hcdate" property="hcdate" jdbcType="DATE" />
    <result column="hccycle_day" property="hccycleDay" jdbcType="INTEGER" />
    <result column="hccycle_week" property="hccycleWeek" jdbcType="INTEGER" />
    <result column="chorionicity" property="chorionicity" jdbcType="INTEGER" />
    <result column="reportid" property="reportid" jdbcType="INTEGER" />
    <result column="auditresult" property="auditresult" jdbcType="CHAR" />
    <result column="isself" property="isself" jdbcType="INTEGER" />
    <result column="backfillnum" property="backfillnum" jdbcType="CHAR" />
    <result column="sopenid" property="sopenid" jdbcType="CHAR" />
    <result column="pdfcheckdate" property="pdfcheckdate" jdbcType="DATE" />
    <result column="labchecktor" property="labchecktor" jdbcType="INTEGER" />
  </resultMap>
	<select id="selectDaysSampleid"
		parameterType="java.lang.Integer" resultMap="BaseResultMap">
		SELECT
		s.sampleid,
		s.pdfdate
		FROM sample s
		WHERE DATEDIFF(s.pdfdate,NOW())>-#{days}
		;
	</select>
</mapper>