<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newtouch.mapper.SampleresultMapper">
	<select id="selectDaysSampleid"
		parameterType="java.lang.Integer" resultType="java.lang.Integer">
		SELECT
		r.sampleid,r.operattime
		FROM sampleresult r
		WHERE DATEDIFF(r.operattime,NOW())>-#{days};
	</select>
</mapper>